@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/layout";

.header {
  padding: 40px 0;
  font-size: 16px;
  font-weight: 500;

  .container {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 100px;
    }

    .header-phone-number {
      margin-left: 257px;
      color: $light-blue-color;
      border-bottom: 2px solid transparent;
      transition: all linear 0.2s;

      &:hover {
        border-bottom: 2px solid $light-blue-color;
      }
    }

    .header-user {
      width: 210px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 7px;
      cursor: pointer;

      .header-user-text {
        color: $dark-blue-color;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

